body {
    background-color: var(--site-bg-color);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: var(--black);
}

:root {
    --site-bg-color: #f3e7e0;
    --white: #ffffff;
    --black: #000000;
    --hover-white-background: #eeeeee;
    --text-brown: #513300;
    --form-cell: #a2999271;

    --footer-hover: #7a6b5f5a;
    --hover-brown: #7a6b5f;
    --button-brown: #9A8576;
    --focus-color:#c66b1b;


  }

  @media (prefers-color-scheme:dark) { :root {

    --site-bg-color: #c1a690;
    --white: #40372f;
    --black: #f3e7e0;
    --hover-white-background: #eeeeee;
    --text-brown: #f3e7e0;
    --form-cell: #f3e7e0;

    --footer-hover: #7a6b5f5a;
    --hover-brown: #7a6b5f;
    --button-brown: #9A8576;
    --focus-color:#c66b1b;
    

  }}

  



/* Header CSS */
header {
    display: flex;
    align-items:center;
    position: sticky;
    top: 0;
    background-color: var(--white);
    height: 100px;
    width: 100%;
    position:fixed;
    opacity: 90%;
}



/* Logo in header */
header img {

    width: 60px;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

/* Logo in header */
header a {
    color: var(--black);

}

/* Menu linkjes */
header nav a{
    text-decoration: none;
}

/* Menu list items */
header nav li{
    text-align: center;
    width: 6em;
    padding: 1em;
    list-style-type: none;
}

header nav li:hover {
    background-color: var(--hover-white-background);
    transition: .3s;

}

header ul {
    display: flex;
}


/* Main CSS */

p{
    font-weight: 200;
}

main a:hover{
    background-color: var(--hover-brown);
    transition: .3s;
}

a:focus{
    background-color:var(--focus-color);
    color: var(--white);
    opacity: 50%;
    transition: 2s;
}

input:focus{
    background-color:var(--focus-color);
    opacity: 50%;
    transition: 2s;
}

button:focus {
    background-color:var(--focus-color);
    opacity: 50%;
    transition: 2s;
}

main a{

    color: var(--white);
    background-color: var(--button-brown);
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    font-weight: 300;
    margin-top: 1em;
    margin: .5em;

}

main a:visited {
    color: var(--white);
}

/* Dit is de eerate afbeelding van het cafe */
main img:first-of-type {
    margin-top: 100px;
    max-width: 100%;
    height: auto;
    animation: fade-down 1s;
}

/* Dit is de eerste section (the best moment of your day */
section:first-of-type {
    color: var(--text-brown);
    background-color: var(--site-bg-color);
    width: 100%;
    margin-bottom: 5em; 
    
}

h1 {
    margin-top: 2em;
    margin-left: 1em;
    padding-left: 1em;
    line-height: .5em;
}

h1:nth-child(2){
    margin-top: 0em;
}
section:first-of-type p {
    display: flex;
    justify-content: center;
}

/* Div om alle knoppen te centreren. */
.knop {
    display:flex ;
    justify-content:center ;
    
}

/* Dit is de "cafecito" section */
section:nth-of-type(2) {
    background-color: var(--white);
    padding: 2em; 
    line-height: 2em;
    
}

/* Dit is de "bestsellers" section */
section:nth-of-type(3) {
    padding: 1em;
    background-color: var(--white);
}

/* Dit is de "Beautiful stores" section */
section:nth-of-type(4) {
    padding: 2em;
    background-color: var(--white);
    padding-bottom: 3em;
    line-height: 2em;
}

/* Gedeelte vrouw met beker */
.vrouwbeker {
    display: flex;
    background-color: var(--white);
}

.imgvrouwbeker {

    width: 500%;
    height: auto;
    margin-right: 1em;
}

.tekstvrouwbeker {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -1em;
    width: 90%;
    line-height: 2em;
}


/* Dit is de "Artisian Coffee ( de bekers ) section */
section:nth-of-type(5) {
    padding: 1em;
    background-color: var(--white);
    padding-bottom: 3em;

}

/* Dit is de "Artisian Coffee ( de bekers ) section */
footer section:first-child {
    width: 100%;
    margin: 0%;

}

footer section a {
    text-decoration: none;
    color: var(--text-brown);
    padding: 1em;
    background-color: var(--site-bg-color);
    width: 100%;
    outline-style: solid;
    outline-color: var(--footer-hover);
    outline-width: .01em;
    
}

footer section a:hover {
    background-color: var(--footer-hover);
    color: var(--white);
    transition: .5s;
}

h4{
    margin-left:1em;
}

.branches{
display: flex;
flex-wrap: wrap;

}




/* Fade animatie https://youtu.be/5yl75eM0Y4A?si=BcgK5QzmBAotsg3v */
@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-10px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    
    }
}


/* Hier begint specifieke css voor de 2e pagina */

/* autoplay bron https://www.w3schools.com/tags/att_video_autoplay.asp */
video {
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 0;
}

/* Gedeelte "betrokken bij elk proces" */
body.pagina2 section:nth-child(2) {
    padding: 0em;
    background-color: var(--white);
    padding-bottom: 3em;
    line-height: 2em;
    width: 100%;
    margin-bottom: 0;
    color: var(--black);
}

body.pagina2 section:nth-child(2) h2:first-of-type {
    padding-top: 2em;
    line-height: .5em;
}

body.pagina2 section:nth-child(2) h2{
padding-left: 1em;

}

body.pagina2 section:nth-child(2) p {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0;
    color: var(--text-brown);
    
}

q {
    font-style: oblique;
    color: var(--text-brown);
}

input[type=text]{
    width: 95%;
    background-color: var(--form-cell);
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    height: 2em;
 
}
input[type=radio]{
    margin-bottom: 1em;


}
input[type=checkbox]{
    margin-bottom: 3em;
    margin-top: 2em;
}

form {
    font-family:'Montserrat', sans-serif;
    font-weight: 200;
    background-color: var(--site-bg-color);
    padding: 1em;
    margin-bottom: 0em;
    color: var(--text-brown);
    
}

button {
    color: var(--white);
    background-color: var(--button-brown);
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    font-weight: 300;
    margin: .5em;
    border: none;
    font-family:'Montserrat', sans-serif;

}

.pagina2 main section:nth-of-type(4) img {
    height: 5em;
    margin-left: 2em;
    margin-right: 2em;
    transition: transform .5s ease-in-out;
margin-top: 1em;
    }
  

.pagina2 main section:nth-of-type(4) {
    display: flex;
    justify-content: center;

}
.pagina2 main section:nth-of-type(4) h3 {
    cursor: pointer;
    margin-bottom: 3em;
    letter-spacing: .5em;
    transition-delay: 1s;
    transition-duration: 1s;
    color: var(--black)
}

.pagina2 main section:nth-of-type(4) h3:hover {
    color: var(--white);
    transition: .2s; 
}

h1 {
    text-transform: uppercase;
}
h2 {
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
}
